@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primaryColor: theme("colors.primary");
    --primaryLightColor: theme("colors.primaryLight");
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor) !important;
}

.ant-btn-primary {
  background-color: var(--primaryColor) !important;

  &:hover {
    background-color: "#fff" !important;
    border: 1px solid var(--primaryColor) !important;
  }
}

.ant-btn-default {
  border: 1px solid var(--primaryColor) !important;
}

.ant-menu-item-selected {
  color: var(--primaryColor) !important;
}
.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: var(--primaryColor) !important;
  font-weight: 700 !important;
}

.ant-menu-submenu-active > .ant-menu-submenu-title {
  color: var(--primaryColor) !important;
}

.ant-menu-item-selected {
  color: var(--primaryColor) !important;
}

.ant-menu-item-active {
  color: var(--primaryColor) !important;
}

.custom-menu .ant-menu-item::after {
  border-bottom: none !important;
}

/* .ant-drawer-header {
  display: none !important;
} */
.ant-form-item-label {
  font-weight: 700 !important;
}
